.salvageyardConfigRow {
    label {
        display: block;
        margin: 5px;
        
        input {
            position: relative;
            vertical-align: middle;
            top: -1px;
        }
    }
}

.salvageyardConfigRow:nth-child(even) {
    background-color: rgba(0,0,0,0.1);
}

.salvageyardInformationRow {
    margin: 4px 0px;

    > div {
        display: flex;
        align-items: center;
    }

    label {
        input[type="number"] {
            width: 50px;
        }

        input[type="text"] {
            width: auto;
        }
    } 

    button {
        width: auto;
        line-height: 1.1rem;
    }
}